<!--The content below is only a placeholder and can be replaced.-->
<div id="container" style="line-height: 36px; font-size:18px">
  <select  (change)="updateWorkout($event.target)">
    <option *ngFor="let option of workouts" [value]="option">{{option}}</option>
  </select>
  <span *ngFor="let item of questions; let i = index" [attr.data-index]="i">
    <div id="textSection">
      {{i+1}}.
      <span [ngClass]="{'mark': item.mark}" id="question" (click)="showAnswer1(i)">{{item.question}}</span>
      <input class="toggle" type="checkbox" [(ngModel)]="item.mark" [disabled]=item.mark (ngModelChange)="modelChanged(item)">
      <span style="font-weight: bold; color:red;" *ngIf=item.show>{{item.answer}}</span>
      <br/>
      <span style="font-weight: bold; color:blue;" *ngIf=item.show>{{item.ori}}</span>
      <br/>
    </div>
  </span>
  <button (click)="reset()">Reset</button>
  <button id="retry" (click)="retry()">Retry</button>
</div>
